*{
    font-family:'Orbitron';
}

#display{
    font-size: 43px;
    background-color: rgb(210,210,210);
    height: 45px;
    width: 350px;
    margin-bottom: 20px;
    margin-top:20px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: right;
}


button{
    border-radius: 15px;
    height: 55px;
    width: 80px;
    background-color: rgb(46,144,171);
    font-size: 45px;
    box-shadow: 3px 3px 6px black;
    color:white;
    border-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
   }

.containerForButtons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    column-gap:10px;
    row-gap:10px;
    width: 350px;
    margin-left: 15px;
    margin-right:15px ;
    margin-bottom: 20px;
}

#container{
    width:380px;
    border: 3px solid black;
    background-color: RGB(51,155,184);
}

.ACandBS{
    background-color: RGB(53,113,130);
    width: 170px;
}

.containerForACandBS{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-left: 15px;
    margin-right:15px ;
    margin-bottom: 10px;
    column-gap: 10px;
    }

